body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f9fc;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

#resultado {
    margin-top: 20px;
}

input[type="text"], #numeroProcesso {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #007BFF;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1);
}

input[type="text"]:focus, #numeroProcesso:focus {
    border-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 86, 179, 0.2);
    outline: none;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 86, 179, 0.3);
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #ffffff;
    background-color: #878080;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
